*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: Poppins, sans-serif;
  background: #0d1321;
  color: #fff;
}


.nav{
    display:flex;
    justify-content:space-between;
    padding:15px 25px;
    border-bottom:1px solid #1f2a44;
    background-color: #0f172a;
}
.nav .head-left{
    display: flex;
    gap: 20px;
}
.head-left a{
    text-decoration: none;
    color: white;
    align-content: center;
    font-size: 14px;
}
.logo img{
    width: 60px;
    border-right: 1px solid #859dd6;
    padding-right: 10px;
}
.head-right{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.progress-bar{
    width: 200px;
    height: 6px;
    background: #1f2a44;
    border-radius: 30px;
    overflow: hidden;
}
.progress-bar-inner{
    height: 100%;
    width: 0%;
    background: #3b82f6;
}


.container{
    display: flex;
    gap: 20px;
    padding: 20px 30px;
}
.left{
    width: 70%;
}

.video{
    width: 100%;
    height: 520px;
    background: #193c32;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.action-row{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.btn{
    font-size: 12px;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
}

.prev{
    background: #1f2a44;
}
.complete{
    background: #22c55e;
}
.next{
    background: #2563eb;
}

.lesson-content{
    margin: 10px 0px;
    background: #0f172a;
    padding: 20px;
    border-radius: 12px;
}

.lesson-content h2{
    margin: 0 0 5px 0;
    font-size: 30px;
}
.lesson-content p{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.459);
    margin-bottom: 10px;
}


.right{
    width: 30%;
}

.panel{
    background: #0f172a;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 15px;
}

.lesson-item{
    padding: 10px;
    border-radius: 8px;
    margin: 6px 0;
    background: #101b33;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.lesson-item.lock{
    opacity: .4;
    color: #1745b3;
}
#progressText{
    font-size: 15px;
    margin-top: 2px;
}
#content{
    font-size: 14px;
    color: #ffffffe1;
    line-height: 18px;
}

@media(max-width:700px){
    .container{
        flex-direction: column;
    }

    .nav{
        flex-direction: column;
    }

    .head-right{
        text-align: center;
    }

    .left, .right{
        width:100%;
    }

    .video{
        height:300px;
    }

    .prev{
        width: 110px;
    }

    .complete{
        width: 90px;
    }

    .next{
        width: 110px;
    }
    
}
