*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: Poppins, sans-serif;
  background: #0d1321;
  color: #fff;
}
a{
    text-decoration: none;
    color: #fff
}
.navbar{
    width: 100%;
    background: #0b1120;
    border-bottom: 1px solid #1a2238;
    padding: 14px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    gap: 26px;
    align-items: center;
}
.navbar .nav-left .page{
    background: #172e63;
    border-radius: 5px;
}
.navbar .nav-left .logo img{
    width: 60px;
}
.navbar .nav-left .nav-links a{
    font-size: 14px;
    color: #d1d5ff;
    padding: 6px 8px;
}
.navbar .nav-left .nav-links a:hover{
    color: #fff
}


.container{
    width: 90%;
    margin: 30px auto;
}
.container h2{
    font-size: 28px;
    font-weight: 700;
}
.sub{
    margin-top: 6px;
    color: #9aa4ce;
    font-size: 14px;
}
.search{
    margin-top: 18px;
    display: flex;
    gap: 10px;
}
.search input{
    width: 100%;
    padding: 12px 16px;
    background: #0f172a;
    border: 1px solid #1f2a44;
    border-radius: 8px;
    color: white;
}
.search input::placeholder{
    color: #9399b3ad;
}
.filter-chips{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.chip{
    padding: 7px 14px;
    background: #111a2d;
    border: 1px solid #2a3558;
    border-radius: 5px;
    font-size: 13px;
}
.chip.active{
    background: #1f3af5;
    border: none;
}


.courses{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    gap: 18px;
}
.card{
    background: #0f172a;
    border-radius: 14px;
    border: 1px solid #1c2744;
    overflow: hidden;
    transition: .2s;
}
.card:hover{
    transform: translateY(-3px);
    border-color: #2d3cff;
}

.card img{
    width: 100%;
}
.card-content{
    padding: 14px;
}
.card h3{
    font-size: 16px;
    margin-bottom: 6px;
}
.card p{
    font-size: 13px;
    color: #a5b0d6;
    height: 36px;
    overflow: hidden;
}
.meta{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 12px 0;
    color: #9aa4ce;
}
.card button{
    width: 100%;
    padding: 9px 0;
    border-radius: 8px;
    border: none;
    background: #2e4bff;
    color: white;
    cursor: pointer;
}
.card button:hover{
    background: #3b5bff;
}

.footer{
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #1c2744;
    margin-top: 30px;
    font-size: 13px;
    color: #9aa4ce;
}

/* Responsive */
@media(max-width:700px){
    .navbar{padding: 12px 20px}
}
